TAGS
autom4te.cache/
configure
git_hash.h
read_input.c
*.d
*.o
*~
Makefile
config.log
*.mod.c
*.opari.inc


# Added by meinersbur
tmLQCD.layout
*.a
.svn/
*.log
config.h
config.status
/fixed_volume.h
/hmc_tm
.deps/
stamp-h1

tmLQCD.cscope_file_list
depcomp
missing
/benchmark
/bgqbench

*.i
*.lst
*.o.optdbg
/bgq/asm?.s
/bgq/asm?.s_
/bgq/asm?.as
/bgq/asm?.as_
/bgq/asm?.ds
/bgq/asm?.ds_

/Debug/
/invert
*.swp
*.kate-swp

/routing_file
*.ompexp

.directory
/core.*
/cmp_*

output.para
source.*.hinverted
source.*.inverted


benchmark.input
